<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic -->
	<meta charset="UTF-8" />
	<title> Admin Management </title>
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
<layout name="Layout/layout" />
<div style="height: 1000px;width: 1200px;background: white;">

	<div style="position:relative;left: 400px;top:300px;">
		<h2 >欢迎进入管理员界面</h2>
		<div>登录用户：Admin</div>
		<div >
			<script language=Javascript>
				var now=new Date()
				document.write("登录时间：")
				document.write(1900+now.getYear()+"-"+(now.getMonth()+1)+"-"+now.getDate()+" "+now.getHours()+":"+now.getMinutes()+":"+now.getSeconds())
			</script>

		</div>
	</div>

</div>

</body>

</html>