<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Vendor CSS-->
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Page CSS -->
    <link href="__PUBLIC__/css/style.css" rel="stylesheet" />

</head>
<body>
    <include file="Index:index_head"/>
    <div style="height: 1000px;width: 1200px;margin-left:250px;margin-top: 150px">{__CONTENT__}</div>
    <include file="Index:menu"/>
</body>
    <!-- start: JavaScript-->
<script src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/core.min.js"></script>
    <!--<script src="__PUBLIC__/js/jquery.mmenu.min.js"></script>-->
</html>